@media (max-width: 400px) {
	.nav-bar {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 550px) {
	.uls {
		gap: 10px !important;
	}
}

@media (max-width: 750px) {
	.side-links {
		display: none;
	}
	.menu-bar {
		display: grid !important;
	}
}

.sidebar {
	position: fixed; /* or absolute */
	z-index: 10;
	transform: translateX(-100%);
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.show-sidebar {
	transform: translateX(0);
	opacity: 1;
	transition: 0.5s ease-in-out;
	z-index: 10;
}
