	<div class="!w-full flex justify-center">
	<div class="main w-[600px] flex flex-col p-4 shadow-2xl rounded-lg">
		<form [formGroup]="userForm" class="py-5">
		<mat-form-field appearance="fill" class="w-full">
			<mat-label class="!pb-[20px]">User Name</mat-label>
			<input matInput formControlName="name" required class="!text-[green]" />
			<mat-error
			*ngIf="f['name'].errors?.['required']"
			class="required-label text-[red]"
			>This field Required*</mat-error
			>
		</mat-form-field>
		<div class="age-phone w-full flex justify-between">
			<mat-form-field appearance="fill" class="age w-[48%]">
			<mat-label class="!pb-[20px]">Age</mat-label>
			<input
				matInput
				formControlName="age"
				type="number"
				required
				class="!text-[green]"
			/>
			<mat-error
				*ngIf="f['age'].errors?.['required']"
				class="required-label text-[red]"
				>This field Required*</mat-error
			>
			</mat-form-field>
			<mat-form-field appearance="fill" class="phone w-[48%]">
			<mat-label class="!pb-[20px]">Phone Number</mat-label>
			<input
				matInput
				formControlName="phoneNumber"
				required
				type="number"
				class="!text-[green]"
			/>
			<mat-error
				*ngIf="f['phoneNumber'].errors?.['required']"
				class="required-label text-[red]"
				>This field Required*</mat-error
			>
			<mat-error
				*ngIf="
				f['phoneNumber'].hasError('minlength') &&
				(f['phoneNumber'].touched || f['phoneNumber'].dirty)
				"
				class="text-[red]"
				>Must be 10 digits</mat-error
			>
			<mat-error
				*ngIf="
				f['phoneNumber'].hasError('maxlength') &&
				(f['phoneNumber'].touched || f['phoneNumber'].dirty)
				"
				class="text-[red]"
				>Must be 10 digits</mat-error
			>
			</mat-form-field>
		</div>
		<mat-form-field class="w-full">
			<mat-label>Designation</mat-label>
			<mat-select formControlName="designation">
			<mat-option
				*ngFor="let data of designations"
				[value]="data?.designationName"
				>{{ data?.designationName }}</mat-option
			>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill" class="email w-full">
			<mat-label class="!pb-[20px]">Email</mat-label>
			<input
			matInput
			formControlName="email"
			type="email"
			required
			class="!text-[green]"
			/>
			<mat-error
			*ngIf="f['email'].errors?.['required']"
			class="required-label text-[red]"
			>This field Required*</mat-error
			>
			<mat-error
			*ngIf="f['email'].errors?.['email']"
			class="required-label text-[red]"
			>Enter in correct Formate*</mat-error
			>
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>Address</mat-label>
			<textarea matInput formControlName="address" ></textarea>
			<mat-error
			*ngIf="f['address'].errors?.['required']"
			class="required-label text-[red]"
			>This field Required*</mat-error
		>
			<mat-error class="maxlength-label" *ngIf="f['address'].invalid && f['address'].hasError('maxlength') && (f['address'].touched || f['address'].dirty)" class="text-[red]">Maximum length exceeded (100 characters)</mat-error>
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>Location</mat-label>
			<mat-select formControlName="location">
			<mat-option
				*ngFor="let data of location"
				[value]="data?.locationName"
				>{{ data?.locationName }}</mat-option
			>
			</mat-select>
		</mat-form-field>
		<div class="user-id w-full flex">
			<mat-form-field appearance="fill" class="w-full">
				<mat-label class="!pb-[20px]">User Id</mat-label>
				<input matInput formControlName="userId" required class="!text-[green]"   />
				<mat-error
				*ngIf="f['userId'].errors?.['required']"
				class="required-label text-[red]"
				>This field Required*</mat-error
				>
			</mat-form-field>
			<div class="border-2 h-[55px] ">
				<app-button (click)="generateId($event)">Generate</app-button>
			</div>
		</div>
		<mat-form-field class="w-full" *ngIf="!data">
			<mat-label>Enter your password</mat-label>
			<input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
			<button
			mat-icon-button
			matSuffix
			(click)="clickEvent($event)"
			[attr.aria-label]="'Hide password'"
			[attr.aria-pressed]="hide()"
			>
			<mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error
			*ngIf="f['password'].errors?.['required']"
			class="required-label text-[red]"
			>This field Required*</mat-error
		>
		</mat-form-field>
		<div class="h-[50px] mt-3">
			<app-button [buttonClass]="buttonClass" (click)="onSubmit()">{{data ? 'Edit' :'Submit'}}</app-button>
		</div>
		</form>
	</div>
	</div>
